/* Global */
header h1{
	text-align: center;
	font-size: 40px;
}

/* Global nav*/
div h1{
	font-family: Arial;
			font-size: 50px;
			float: center;
			color:black;
			text-shadow: rgb(51,51,51);
		margin-left:50%;
}
	ul{
		margin: 0px;
		padding: 0px;
		list-style: none;
		text-decoration-line: none;
		color: white;	

	}
	ul li{
		float: left;
		width: 200px;
		height: 40px;
		background-color: lightblue;
		font-color:white;
		text-decoration: none;
		opacity: .8;
		line-height: 40px;
		text-align: center;
		font-size: 20px;
		margin-right: 2px;
	}
	ul li a{
		text-decoration: none;
		color: white;
		display: block;
	}
	ul li a:hover{
		background-color: violet;
	}
	ul li ul li{
		display: none;

	}
	ul li:hover ul li{
		display: block;
	}

	.logo img{
		margin-left: 50px;
		margin-top: 10px;
		width: 250px;
		float: left;
		height: auto;
		border-radius: 100%;
	}

	body{
		margin: 0;
		padding: 0;
		background-size: 100%;
		font-family: Arial;
		background-color:pink;
		background-repeat: no-repeat;
		background-size: cover; 
		font-color:white;
		text-decoration: none;
	}
/*-------------------- ceo.html---------------------------- */




	.girl img{
		border:2px solid #002080;
		width: 400px;
		height: 400px;
		margin-left: 15%;
		float: left;
		border-radius: 100%
	}
	.girl img:hover{
		background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}
	.boy img{
		border:2px solid #002080;
		width: 400px;
		height: 400px;
		margin-right: 15%;
		float: right;
		border-radius: 100%;
	}
	.boy img:hover{
		background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}	
	.img img{
		opacity: .2;
		background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}

	.status{
		text-align: center;
		margin-top: 10%;
	}
	.statusstaff{
		text-align: center;
		float:center;
		margin-top: 40%;
	}
	.statusstaff2{
		text-align: center;
		float: center;
		margin-top: 40%;
	}
	.statusstaff3{
		text-align: center;
		float: center;
		margin-top: 30%;
		margin-left:30%;
		margin-right: 26%;
	}
	.statusstaff4{
		text-align: center;
		float: center;
		margin-top: 10%;
		margin-left:30%;
		margin-right: 26%;
}
	.sb1{
		text-decoration: none;
		width: 50px;
		height: 50px
		margin-top: 10%;
		text-align: left;
	}
	.sb1 ul{
		text-decoration: none;
	}
			.st1 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 5%;
		margin-right: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: -20px;
	}

	.st2 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
	}
	.st3 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 23%;
		float: left;
		border-radius: 100%;
	}
	.st4 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top:1%;
		margin-left: 10%;
		float: center;
		border-radius: 100%;
		margin-bottom: -350px;
	}
	.st16 img{
		border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
	}
	

	.st5 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 5%;
		margin-right: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: 100px;
	}
	.st6 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: 100px;
	}
	.st7 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
		margin-bottom: 100px;
	}

	.st8 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 23%;
		margin-right: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: -350px;
	}
	.st9 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
	}

		.st10 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 15%;
		margin-right: -5%;
		float: left;
		border-radius: 100%;
	}

	.st11 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 12%;
		float: left;
		border-radius: 100%;
	}
	.st12 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
	}
		.st13 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
	}

	.st14 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 12%;
		float: left;
		border-radius: 100%;
	}
	.st15 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
	}


		.st1 img:hover{
		background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}
		.st2 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);
	}
	.st3 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}
	.st4 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}
	.st5 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}

	.st6 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}
			.st7 img:hover{
		background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}
		.st8 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);
	}
	.st9 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}
	.st10 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}
	.st11 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);

	}

	.st12 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);
}
.st13 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);
}
.st14 img:hover{
background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);
}
.st15 img:hover{

background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);
}
}
.st16 img:hover{

background-color: purple;
		opacity: .2;
		filter: alpha(opacity=30);
}
/*-------------------- paper.html-------------------------- */
.txt h2{
	float: center;
	top:0;
}
div.img{
	margin: 5px;border:1px solid #ccc;
	float: left;
}
div.img:hover{
	border:1px solid #777;
}
div .img img{
	width: 100%;
	height: auto;
}






.sc{
	margin-top: 500%;
	float: center;
} 
.sctitle h2{
	margin-top: 200%;
	text-align: center;
}


.sc1 img{
		border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 5%;
		margin-right: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: -20px;
	}

	.sc2 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
	}
	.sc3 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 23%;
		float: left;
		border-radius: 100%;
	}
	.sc4 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top:1%;
		margin-left: 10%;
		float: center;
		border-radius: 100%;
		margin-bottom: -350px;
	}

	.sc5 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 5%;
		margin-right: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: 100px;
	}
	.sc6 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: 100px;
	}
	.sc7 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
		margin-bottom: 100px;
	}

	.sc8 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 23%;
		margin-right: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: -350px;
	}
	.sc9 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
	}

		.sc10 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 15%;
		margin-right: -5%;
		float: left;
		border-radius: 100%;
	}

	.sc11 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 12%;
		float: left;
		border-radius: 100%;
	}
	.sc12 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
	}
		.sc13 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
	}

	.sc14 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 12%;
		float: left;
		border-radius: 100%;
	}
	.sc15 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
	}

	.sc16 img{
		border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
	}
	.img img{
		border-radius: 100%;
	}








	.st1 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 5%;
		margin-right: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: -20px;
	}

	.st2 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
	}
	.st3 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 23%;
		float: left;
		border-radius: 100%;
	}
	.st4 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top:1%;
		margin-left: 10%;
		float: center;
		border-radius: 100%;
		margin-bottom: -350px;
	}
	.st16 img{
		border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 3%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
	}
	

	.st5 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 5%;
		margin-right: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: 100px;
	}
	.st6 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: 100px;
	}
	.st7 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
		margin-bottom: 100px;
	}

	.st8 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 23%;
		margin-right: 5%;
		float: left;
		border-radius: 100%;
		margin-bottom: -350px;
	}
	.st9 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 5%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
	}

		.st10 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 15%;
		margin-right: -5%;
		float: left;
		border-radius: 100%;
	}

	.st11 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 12%;
		float: left;
		border-radius: 100%;
	}
	.st12 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
	}
		.st13 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 5%;
		float: left;
		border-radius: 100%;
	}

	.st14 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 12%;
		float: left;
		border-radius: 100%;
	}
	.st15 img{border:2px solid #002080;
		width: 300px;
		height: 300px;
		margin-top: 10%;
		margin-left: 10%;
		float: left;
		border-radius: 100%;
	}
